.showcase {
    background-color: #292929;
    max-width: 380px;
    border: 10px #292929 solid;
    border-radius: 15px
}
.showcase-img {
    max-width: 380px;
    border-radius: 15px;
}
.showcase-title {
    font-size: 36px;
}
.showcase-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.page-content {
    max-width: 1400px; 
    min-width: 400px; 
}
