body {
    margin: 0;
    background-color: #1e1e1e;
}
a{
    color: #3498db;
}
a:hover, a:active {
    color: #5dade2;
}
p, h1, h2, h3, h4, h5, h6, span{
    color: #e0e0e0;
}
li{
    color: #e0e0e0;
}
.text-sub {
    color: #a4a4a4;
}
.page-nav {
    display: flex;
    background-color: #292929;
    font-size: 32px;
    justify-content: space-between; 
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
.title-name {
    font-size: 32px;
    color: #e0e0e0;
}
.navigation-links {
    display: flex;
    flex-direction: row;
}
.navigation-links a {
    text-decoration: none;
    padding: 30px 20px 30px 20px;
    margin: 0;
    height: 100%;
}
.navigation-links a:hover, a:active {
    background-color: #444444;
}
.page-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 16px;
}
.about-page {
    text-align: center;
    font-size: 18px;
}
.page-content {
    padding: 0;
    min-height: 1000px; 
    max-width: 1200px; 
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
