body {
    margin: 0;
    background-color: #1e1e1e;
}
a{
    color: #3498db;
}
p, h1, h2, h3, h4, h5, h6, span{
    color: #e0e0e0;
}
li{
    color: #e0e0e0;
}
.page-nav {
    display: flex;
    background-color: #292929;
    font-size: 32px;
    justify-content: space-between; 
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
.page-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 16px;
}
.about-page {
    text-align: center;
    font-size: 18px;
}
.page-content {
    padding: 0;
    min-height: 1000px; 
    max-width: 1100px; 
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
