.project {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 30px;
    background-color: #292929;
    border-radius: 15px;
}
.project img {
    border-radius: 15px;
}
.project-desc {
    padding: 10px;
}
.proj-title {
    font-size: 36px;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.links a{
    text-decoration: none;
}
.links img {
    margin-right: 10px;
}
.showcase-div {
    min-width: 400px;
    min-height: 320px;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.showcase-img {
    object-fit: cover;
    height: 100%;
}
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}