body {
    margin: 0;
    background-color: #1e1e1e;
    /* font-family: "Poppins", sans-serif; */
}
a{
    color: #3498db;
}
h1, p {
    color: #e0e0e0;
}
.page-nav {
    display: flex;
    background-color: #292929;
    font-size: 32px;
    justify-content: space-between; 
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

.page-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 16px;
}
.about-page {
    text-align: center;
}
.about-page p{
    font-size: 18px;
}
.projects-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 30px; /* Add spacing between projects */
}
.project-content {
    padding: 0;
    min-height: 1000px; 
    max-width: 1100px; 
    width: 90%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.project {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    background-color: #292929;
    border-radius: 15px;
}
.project img {
    border-radius: 15px;
}
.project-desc {
    padding-top: 10px;
}
.proj-title {
    font-size: 36px;
}
.links img {
    margin-right: 10px;
}
.tools {
    color: #a4a4a4;
}